pipeline/Pl_ssms_storage-adls_azuresql.json
{
	"name": "Pl_ssms_storage-adls_azuresql",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ssms",
						"type": "DatasetReference",
						"parameters": {
							"source_table": "ControlTable",
							"source_schema": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type, 'ssms-storage')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Execute Pipeline2_copy1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_ssms_azure_sql_db",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"source_schema": {
													"value": "@item().source_schema",
													"type": "Expression"
												},
												"source_table": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"sink_schema": {
													"value": "@item().sink_schema",
													"type": "Expression"
												},
												"sink_table": {
													"value": "@item().sink_table",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_ssms_adls",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"source_table": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"source_schema": {
													"value": "@item().source_schema",
													"type": "Expression"
												},
												"sink_filename": {
													"value": "@item().sink_file",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}